<div class="container">
  <div class="card">
  <body class="text-center">
    <div class="card-header">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :reg_number %><br />
    <%= f.number_field :reg_number %>
  </div>

  <div class="form-group">
    <%= f.label :platoon %><br />
    <%= f.select :platoon, [['A','A'],['B','B'],['C','C'],['D','D'],['Ops','Ops']] %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone %>
  </div>

  <div class="form-group">
    <%= f.label :alt_phone %><br />
    <%= f.telephone_field :alt_phone %>
  </div>
<div class="card-header">
  <h1>Availability</h1>
</div>
  <div class="form-group">
    <%= f.label :please_choose %><br />
    <%= f.select :available, [['Available for Calls','true'],['Not available for calls','false']] %>
  </div>
<div class="card-header">
  <h1>Password</h1>
</div>
  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<%= button_to "Cancel my account", registration_path(resource_name), :class => "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
