<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Welcome</p>
  </div>
</div>
<div class="container">
<body class="text-center">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">User Account</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h1><%= fa_icon "address-book" %></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Logged in as:</li>
          <li><b><%= current_user.name %></b></li>
          <li>Reg Number:</li>
          <li><b><%= current_user.reg_number %></b></li>
          <li>Platoon:</li> 
          <li><b><%= current_user.platoon %></b></li>
          <li>Phone:</li> 
          <li><b><%= number_to_phone(current_user.phone) %></b></li>
          <li>Alt Phone:</li> 
          <li><b><%= number_to_phone(current_user.alt_phone) %></b></li>
          &nbsp
          
           <% if current_user.available == true %>
           <li class="alert1 alert-success"><b>Available for Calls</b></li>
           <% else %>
           <li class="alert1 alert-danger"><b>Not Available for Calls</b></li>
          <% end %>
        </ul>
        <%= link_to 'Edit Profile', edit_user_registration_path, :class => "mt-auto btn btn-lg btn-block btn-primary"%>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Calendar</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h1><%= fa_icon "calendar" %></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>View and track</li>
          <li>shifts called</li>
          <li>and shifts worked</li>
          &nbsp
          <li class="alert2 alert-danger">Not Functioning</li>
        </ul>
        <button type="button" class="mt-auto btn btn-lg btn-block btn-primary">View Calendar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Platoon Roster</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h1><%= fa_icon "list-alt" %></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>View platoon lists</li>
          <li>and manage</li>
          <li>callouts</li>
        </ul>
        <%= link_to 'Manage', roster_index_path, :class => "mt-auto btn btn-lg btn-block btn-primary"%>
      </div>
    </div>
  </div>