<!DOCTYPE html>
<html>
  <head>
    <title>OvertimeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--NAV BAR-->
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">CBRPS Overtime Tool</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Option1</a>
    <a class="p-2 text-dark" href="#">Option2</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

  <!--ALERTS-->
  <div class="container">
    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
  </div>

    <%= yield %>

  <!--FOOTER-->
    <footer id="sticky-footer" class="fixed-bottom py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Software Ver: (Alpha) 1.0.5 &copy; Development by BJ Petrie</small>
    </div>
  </footer>
  </body>
</html>
